@import "parameters";
@import "mixins";

@import "table-list";
@import "client-page";
@import "navigation";
@import "pagination";



@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic);

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0.5em;

}

a {
    color: @text-color;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: @text-color;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #e5e9ec;

    &.navigation-active {
        overflow: hidden;

        .container .viewport .content {
            left: @main-navigation-width;
            box-shadow: -1px 0 5px rgba(0,0,0,0.4);
        }
    }
}

input {
    border: 1px solid silver;
    padding: 4px;
    width: 100%;
    margin: 0;
    line-height: 20px;
    font-size: 1em;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container {
//    overflow: hidden;
    .viewport {

        > div {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        .main-navigation {
            z-index: 1;
            width: @main-navigation-width;

            .search {
                padding: 4px;
            }
        }

        .content {
            z-index: 2;
            background-color: #e5e9ec;
        }
    }
}

body.animated {
    .viewport .content {
        transition: all 150ms ease;
    }
}

@media @desktop {
    .viewport {
        .content {
            left: @main-navigation-width !important;
            box-shadow: none !important;

            width: auto !important;
            right: 0;
        }
    }
}

.badge {
    padding: 3px 9px;
    font-size: 11px;
    text-shadow: none;
    background-color: #D1DADE;
    font-weight: 600;
    color: #5E5E5E;
    text-transform: uppercase;
}

.badge-important {
    background-color: #f35958;
    color: #fff;
}



.badge-success {
    background-color: #0aa699;
    color: #fff;
}


.clients-search {
    margin-top: 10px;
    padding: 0 10px;
    position: relative;

    .fa-spinner {
        top: 5px;
        right: 15px;
        font-size: 1.2em;
        position: absolute;
    }

    li {

        margin-top: 10px;
        a {
            background-color: #0aa699;
            color: white !important;
            border-radius: 3px;

            span {
                font-size: 0.6em;
            }

            &:hover {
                background-color: darken(#0aa699, 5%);
            }

            &.finish {
                background-color: #f35958;
                &:hover {
                    background-color: darken(#f35958, 5%) ;
                }
            }
        }


    }
}

.flash-messages {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;

    div.flash-notice {
        color: white;
        background-color: #0aa699;
        border: 1px solid darken(#0aa699, 5%);
        padding: 5px 10px;
        border-radius: 3px;
        margin-top: 10px;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    }
}



ul.info {
    li {
        display: flex;
        flex-direction: row;

        > div:first-child {
            font-weight: 600;
            width: 100px;
            text-align: right;
            padding-right: 10px;
        }

        > div:nth-child(2) {
            span.silver {
                font-weight: 300;
                font-size: 0.9em;
            }
        }
    }
}