@import "parameters";
@import "mixins";

@import "badge";
@import "buttons";
@import "client-page";
@import "flash-messages";
@import "info-list";
@import "navigation";
@import "pagination";
@import "search-widget";
@import "table-list";

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/css/fonts/light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/css/fonts/normal.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/css/fonts/semibold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/css/fonts/bold.woff) format('woff');
}


//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic);

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0.5em;

}

a {
    color: @text-color;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: @text-color;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #e5e9ec;

    &.navigation-active {
        overflow: hidden;

        .container .viewport .content {
            left: @main-navigation-width;
            box-shadow: -1px 0 5px rgba(0,0,0,0.4);
        }
    }
}

input {
    border: 1px solid silver;
    padding: 4px;
    width: 100%;
    margin: 0;
    line-height: 20px;
    font-size: 1em;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container {
//    overflow: hidden;
    .viewport {

        > div {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        .main-navigation {
            z-index: 1;
            width: @main-navigation-width;

            .search {
                padding: 4px;
            }
        }

        .content {
            z-index: 2;
            background-color: #e5e9ec;
        }
    }
}

body.animated {
    .viewport .content {
        transition: all 150ms ease;
    }
}

@media @desktop {
    .viewport {
        .content {
            left: @main-navigation-width !important;
            box-shadow: none !important;

            width: auto !important;
            right: 0;
        }
    }
}
