@desktop:    ~"only screen and (min-width: 768px)";

@text-color: #505458 ;


@border-color: #909090;


@navigation-background: #1b1e24;

@main-navigation-width: 250px;

@menu-box-size: 35px;
@menu-box-size-desktop: 30px;


// colors
@active-color: #cb2027;
@active-border-color: darken(@active-color, 15%);

@color-default: #5959f3;
@color-default-hover: darken(@color-default, 5%);

@color-red: #f35958;
@color-red-hover: darken(@color-red, 5%);

@color-green: #0aa699;
@color-green-hover: darken(@color-green, 5%);