table.list {
    border-collapse: collapse;
    width: 100%;
    background-color: white;

    thead tr th {
        border-bottom: 1px solid silver;
        line-height: 30px;
        text-align: left;
        padding: 2px 5px;

        &.code {
            width: 60px;
        }

        &.short-date {
            width: 110px;
        }

        &.time {
            width: 80px;
        }
    }

    tbody tr {
        &:nth-child(odd) td {
            background-color: #fafafa;
        }

        td {

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            border-bottom: 1px solid silver;
            line-height: 30px;
            text-align: left;
            padding: 2px 5px;

            &:first-child {
                padding-left: 5px;
            }

            &:last-child {
                padding-right: 5px;
            }
        }
    }
}