<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href='/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
        {% stylesheets '@GymBundle/Resources/public/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">
            {% block header %}
                <header>
                    <div>
                        <div class="menu-bars"><i class="fa fa-bars"></i></div>
                        <ul class="navigation">
                            <li>asdasd</li>
                            <li>dsa</li>
                            <li>gggasd</li>
                            <li>a3dsas</li>
                        </ul>
                    </div>

                    <h1 class="page-title">{{ block('title') }}</h1>


                </header>

                {% endblock %}
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>

                {% block footer %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
