<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href='/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
        <link href='/css/main.css' rel='stylesheet' type='text/css'>

        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="/jquery/jquery-2.1.0.min.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    </head>
    <body>
        {% block body %}
            <div class="container">
            {% block header %}
                <div class="navigation-container">
                    <div class="main-navigation">
                        <ul>
                            <li><a href="{{ path('dashboard') }}">Home</a></li>
                            <li><a href="{{ path('clients_list') }}">Clients</a></li>
                        </ul>
                    </div>
                </div>

                <header>
                    <div class="menu-bars"><i class="fa fa-bars navigation-trigger"></i></div>
                    <h1 class="page-title">{{ block('title') }}</h1>
                </header>

                {% endblock %}
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>

                {% block footer %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}{% endblock %}

        <script type="text/javascript">
            $(window).ready(function(){

                $('.menu-bars').click(function(){
                    $('.navigation-container').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>
    </body>
</html>
