{% block listing %}
<table class="list">
    <thead>
        {% block listing_head %}
        {% endblock %}
    </thead>
    <tbody>
        {% block listing_body %}
        {% endblock %}
    </tbody>
</table>
{% endblock %}