.badge {
  padding: 3px 9px;
  font-size: 11px;
  text-shadow: none;
  background-color: #D1DADE;
  font-weight: 600;
  color: #5E5E5E;
  text-transform: uppercase;
}
.badge.badge-important {
  background-color: #f35958;
  color: #fff;
}
.badge.badge-success {
  background-color: #0aa699;
  color: #fff;
}
.badge.badge-default {
  background-color: #9AA2A5;
  color: #fff;
}
button {
  line-height: 30px;
  padding: 0 20px;
  background-color: #5959f3;
  border: none;
  margin: 10px 10px 0px 0;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
button:hover {
  background-color: #4141f1;
}
.dashboard {
  display: flex;
  flex-flow: row wrap;
}
.dashboard div.item {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
#new_client > div {
  margin-bottom: 10px;
  display: flex;
}
#new_client > div label {
  width: 150px;
}
#new_client > div > *:nth-child(2) {
  width: 70%;
}
@media only screen and (min-width: 768px) {
  .dashboard div.item {
    width: 25%;
    min-width: 490px;
    margin-right: 0;
  }
  .dashboard div.item:last-child {
    margin-right: 0;
  }
}
.flash-messages {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.flash-messages div.flash-notice {
  color: white;
  background-color: #0aa699;
  border: 1px solid #098e83;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
ul.info li {
  display: flex;
  flex-direction: row;
  line-height: 25px;
}
ul.info li > div:first-child {
  font-weight: 600;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}
ul.info li > div:nth-child(2) span.silver {
  font-weight: 300;
  font-size: 0.9em;
}
.main-navigation {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1b1e24;
  overflow-y: auto;
}
.main-navigation .menu-section {
  color: #a9abb4;
  background-color: #22262e;
  padding: 5px 10px;
}
.main-navigation ul {
  display: flex;
  flex-direction: column;
}
.main-navigation ul li a {
  color: #505458;
  line-height: 40px;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  transition: all 0.1s linear 0s;
}
.main-navigation ul li a:hover {
  color: white;
}
.main-navigation ul li a i {
  margin-right: 10px;
}
.content ul.module-navigation {
  display: flex;
  flex-direction: row;
  border: 1px solid #909090;
  background-color: white;
  margin-left: -1px;
}
.content ul.module-navigation li {
  border-right: 1px solid #909090;
  margin: -1px 0 -1px -1px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  /* W3C */
}
.content ul.module-navigation li:first-child {
  margin-left: 0px;
}
.content ul.module-navigation li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  display: block;
}
.content ul.module-navigation li a span {
  display: none;
}
.content ul.module-navigation li.active {
  border: 1px solid #89161a;
  background-color: #cb2027;
}
.content ul.module-navigation li.active a {
  width: auto;
  padding: 0 15px;
  color: #ffffff;
}
.content ul.module-navigation li.active a i {
  margin-right: 5px;
}
.content ul.module-navigation li.active a span {
  display: inline;
}
@media only screen and (min-width: 768px) {
  .content ul.module-navigation li a {
    width: auto;
    padding: 0 10px;
  }
  .content ul.module-navigation li a span {
    display: inline;
  }
}
.pagination span {
  display: inline-block;
  padding: 5px 10px;
}
.pagination .current {
  background-color: #F3F6F9;
  font-weight: 600;
}
.clients-search {
  margin-top: 10px;
  padding: 0 10px;
  position: relative;
}
.clients-search .fa-spinner {
  top: 5px;
  right: 15px;
  font-size: 1.2em;
  position: absolute;
}
.clients-search li {
  margin-top: 10px;
}
.clients-search li a {
  background-color: #0aa699;
  color: white !important;
  border-radius: 3px;
}
.clients-search li a span {
  font-size: 0.6em;
}
.clients-search li a:hover {
  background-color: #098e83;
}
.clients-search li a.finish {
  background-color: #f35958;
}
.clients-search li a.finish:hover {
  background-color: #f14140;
}
table.list {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
table.list thead tr th {
  border-bottom: 1px solid silver;
  line-height: 30px;
  text-align: left;
  padding: 2px 5px;
}
table.list thead tr th.code {
  width: 60px;
}
table.list thead tr th.short-date {
  width: 110px;
}
table.list thead tr th.time {
  width: 80px;
}
table.list tbody tr:nth-child(odd) td {
  background-color: #fafafa;
}
table.list tbody tr td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid silver;
  line-height: 30px;
  text-align: left;
  padding: 2px 5px;
}
table.list tbody tr td:first-child {
  padding-left: 5px;
}
table.list tbody tr td:last-child {
  padding-right: 5px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/css/fonts/light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/css/fonts/normal.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/css/fonts/semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/css/fonts/bold.woff) format('woff');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0.5em;
}
a {
  color: #505458;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #505458;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #e5e9ec;
}
body.navigation-active {
  overflow: hidden;
}
body.navigation-active .container .viewport .content {
  left: 250px;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.4);
}
input {
  border: 1px solid silver;
  padding: 4px;
  width: 100%;
  margin: 0;
  line-height: 20px;
  font-size: 1em;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container .viewport > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.container .viewport .main-navigation {
  z-index: 1;
  width: 250px;
}
.container .viewport .main-navigation .search {
  padding: 4px;
}
.container .viewport .content {
  z-index: 2;
  background-color: #e5e9ec;
}
body.animated .viewport .content {
  transition: all 150ms ease;
}
@media only screen and (min-width: 768px) {
  .viewport .content {
    left: 250px !important;
    box-shadow: none !important;
    width: auto !important;
    right: 0;
  }
}
