{% extends '::base.html.twig' %}
{% block page_title %}
    Crete new client
{% endblock %}

{% block content %}
    <div class="dashboard" style="flex-flow: column">
        <div class="item">
            <h4>{{"General Info"|trans}}</h4>
            {{ form(form) }}
            </ul>
        </div>
    </div>
{% endblock %}