{% extends '::base.html.twig' %}

{% block title %}
    {#{{ client|fullname }} :: {% block title_addition %}{% endblock %}#}
{% endblock %}

{% set navigationItems = [
    {
        path: "client_dashboard",
        pathParams: {id: client.id},
        icon: "user",
        title: "Dashboard"
    },
    {
        path: "client_visits",
        pathParams: {id: client.id},
        icon: "calendar",
        title: "Visits"
    },
    {
        path: "client_subscriptions",
        pathParams: {id: client.id},
        icon: "credit-card",
        title: "Subscriptions"
    }
] %}


{% block content %}
    <div class="client-page">
        <ul class="module-navigation">
        {% block module_navigation %}
            {% for item in navigationItems %}
                {% set path = path(item.path, item.pathParams) %}

                {% if app.request.attributes.get('_route') == item.path %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}

                <a href="{{ path }}">
                    <i class="fa fa-{{ item.icon }}"></i>
                    <span>{{ item.title|trans }}</span>
                </a>

                </li>
            {% endfor %}
        {% endblock %}
        </ul>
        <div class="view">
            <div class="view-content">
            {% block client_view %}

            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}