{% extends '::base.html.twig' %}

{% block page_title %}
    {{ client|fullname }}
{% endblock %}

{% set navigationItems = [
    {
        path: "client_dashboard",
        pathParams: {id: client.id},
        icon: "user",
        title: "Dashboard"
    },
    {
        path: "client_visits",
        pathParams: {id: client.id},
        icon: "calendar",
        title: "Visits"
    },
    {
        path: "client_subscriptions",
        pathParams: {id: client.id},
        icon: "credit-card",
        title: "Subscriptions"
    },
    {
        path: "client_edit",
        pathParams: {id: client.id},
        icon: "pencil",
        title: "Edit"
    }
] %}


{% block content %}
    <div class="client-page">
        <div class="view">
            <div class="{{ viewContentClass|default("view-content") }}">
            {% block client_view %}

            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}